<div class="about-card">
  <section class="about-card__picture"></section>
  <section class="about-card__message">
    <h2>Welcome to My Interactive Resume!</h2>
    <span>
          You're about to dive into a unique way of exploring my professional journey.
          Whether you’re curious about my leadership philosophy, technical expertise, or key projects, this terminal has you covered. Just type <span class="terminal-command">help</span> to start exploring.
        </span>
  </section>
  <section class="about-card__links">
    <a href="https://mateuszbryll.com/" target="_blank" class="link link--website"></a>
    <a href="https://linkedin.com/in/mateusz-bryll/" target="_blank" class="link link--linkedin"></a>
    <a href="https://github.com/mateusz-bryll/" target="_blank" class="link link--github"></a>
  </section>
  <footer class="footer">
    © {{ currentYear }} | <a target="_blank" href="https://mateuszbryll.com/">Mateusz Bryll</a>
  </footer>
</div>
