<div class="terminal">
  <div class="terminal__titlebar">
    <div class="actions">
      <div class="actions__button actions__button--close"></div>
      <div class="actions__button actions__button--minimise"></div>
      <div class="actions__button actions__button--focus"></div>
    </div>
    <h3 class="title">web&#64;shell.mateuszbryll.com:{{ location }}</h3>
  </div>
  <div class="terminal__buffer" #buffer>
    <app-command [showPrompt]="false" *ngFor="let cmd of executedCommands"
                 [path]="cmd.path"
                 [gitBranch]="cmd.gitBranchName"
                 [gitHasUncommitedChanges]="cmd.gitHasUncommitedChanges"
                 [showSshMetadata]="cmd.showSshMetadata"
                 [position]="cmd.position"
                 [positionStartDate]="cmd.positionStartDate"
                 [promptStartTime]="cmd.promptStartTime"
                 [command]="cmd.command"
                 [commandResult]="cmd.commandResult">
    </app-command>

    <app-command [showPrompt]="true"
                 [path]="path"
                 [promptStartTime]="promptStartTime"
                 [gitBranch]="currentExtendedAttributes.gitBranchName"
                 [gitHasUncommitedChanges]="currentExtendedAttributes.gitHasUncommitedChanges"
                 [showSshMetadata]="currentExtendedAttributes.showSshMetadata"
                 [position]="currentExtendedAttributes.position"
                 [positionStartDate]="currentExtendedAttributes.positionStartDate"
                 (onPrompt)="onPrompt($event)">
    </app-command>
  </div>
</div>
